<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Animes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='viewstyle.css') }}">
</head>
<body>
    <a href="/" class="link">Home</a>
    <h1>Your Anime List</h1>
    <table border="1" class="table">
        <tr>
            <th>ID</th>
            <th>Anime</th>
            <th>Rating</th>
            <th>Completed</th>
            <th>Comments</th>
            <th>Last Updated</th>
            <th>Actions</th>
        </tr>
        {% for user in user %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td>{{user[5]}}</td>
            <td>
                <a href="/update/{{user[0]}}">Update</a>
                <a href="/delete/{{user[0]}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>